  * {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  
  html {
      box-sizing: border-box;
  }
  
  body {
      font-family: "Montserrat", sans-serif;
      line-height: 1.2;
  }
  
  ul,
  ol {
      list-style: none;
  }
  
  img {
      display: block;
      max-width: 100%;
      height: auto;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
  
  .visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0px;
      padding: 0px;
      clip: rect(0 0 0 0);
      clip-path: inset(0 0 0 0);
      margin: -1px;
  }
  
  .container {
      width: 1200px;
      margin: 0 auto;
  }
  
  .header {
      padding: 30px 0;
      color: #95e1d3;
  }
  
  .navigation {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  }
  
  .logo {
      font-weight: 700;
      font-size: 30px;
      cursor: pointer;
  }
  
  .menu {
      display: flex;
  }
  
  .menu-item:not(:last-of-type) {
      margin-right: 55px;
  }
  
  .menu-item-link {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      transition: color 200ms linear;
  }
  
  .menu-item-link:hover,
  .menu-item-link:focus {
      color: #f38181;
  }
  
  .menu-item-link::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      border-bottom: 3px solid #f38181;
      color: #f38181;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 200ms linear;
  }
  
  .menu-item-link:hover::after,
  .menu-item-link:focus::after {
      opacity: 1;
      visibility: visible;
      margin-top: 10px;
  }
  /* services */
  
  .services {
      padding-top: 100px;
  }
  
  .section__title {
      font-weight: 700;
      font-size: 30px;
      color: #333333;
      text-align: center;
      text-transform: uppercase;
  }
  
  .section__subtitle {
      display: block;
      font-family: "Kaushan Script", cursive;
      font-weight: 400;
      font-size: 24px;
      text-transform: none;
      margin-bottom: 20px;
  }
  
  .section__title::after {
      content: "";
      display: block;
      margin: 40px auto 64px;
      width: 60px;
      height: 3px;
      background-color: #f38181;
  }
  
  .services__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  
  .services__list-item {
      flex-basis: 340px;
      padding-left: 60px;
      background-repeat: no-repeat;
  }
  
  .services__list-item:not(:nth-last-of-type(-n+3)) {
      margin-bottom: 100px;
  }
  
  .services__list-item_alarm {
      background-image: url(../images/icons/alarm.png);
  }
  
  .services__list-item_linegraph {
      background-image: url(../images/icons/linegraph.png);
  }
  
  .services__list-item_computer {
      background-image: url(../images/icons/computer.png);
  }
  
  .services__list-item_book {
      background-image: url(../images/icons/book.png);
  }
  
  .services__list-item_home {
      background-image: url(../images/icons/home.png);
  }
  
  .services__list-item_image {
      background-image: url(../images/icons/image.png);
  }
  
  .services__list-item-title {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 20px;
  }
  
  .services__list-item-description {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
  }
  /* team */
  
  .team {
      padding: 100px 0 80px;
  }
  
  .section__desription {
      max-width: 980px;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      text-align: center;
      margin-bottom: 94px;
  }
  
  .team-list {
      display: flex;
      justify-content: space-between;
  }
  
  .team-card {
      width: 380px;
      text-align: center;
  }
  
  .team-card-image-block {
      position: relative;
      transition: transform 0.2s linear, box-shadow 200ms linear;
      margin-bottom: 30px;
  }
  
  .team-card:hover .team-card-image-block {
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 0 #95e1d3;
  }
  
  .team-card__overlay {
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 200ms linear;
  }
  
  .team-card:hover .team-card__overlay {
      opacity: 1;
  }
  
  .overlay__social-list {
      display: flex;
  }
  
  .overlay__social-item:not(:last-of-type) {
      margin-right: 1px;
  }
  
  .overlay__social-link {
      display: block;
      width: 56px;
      height: 56px;
      background-color: #fce38a;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: background-color 0.2s linear;
  }
  
  .overlay__social-link:hover {
      background-color: #95e1d3;
  }
  
  .facebook-icon {
      background-image: url(../images/icons/facebook.png);
  }
  
  .twitter-icon {
      background-image: url(../images/icons/twitter.png);
  }
  
  .pinterest-icon {
      background-image: url(../images/icons/pinterest.png);
  }
  
  .instagram-icon {
      background-image: url(../images/icons/instagram.png);
  }
  
  .team-card-name {
      font-weight: 400;
      font-size: 14px;
      color: #333333;
      text-transform: uppercase;
      margin-bottom: 12px;
  }
  
  .team-card-position {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
  }
  /* FOOTER */
  
  .footer .container {
      border-top: 1px solid #e5e5e5;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .copyright {
      font-weight: 400;
      font-size: 14px;
      color: #333333;
  }
  
  .copyright-link {
      color: #f38181;
  }
  
  .footer-form {
      display: flex;
  }
  
  .footer-form-input-email {
      width: 230px;
      height: 40px;
      border: 1px solid #e7e7e7;
      padding-left: 12px;
  }
  
  .footer-form-input-email::placeholder {
      font-family: "Roboto";
      font-size: 15px;
      line-height: 24px;
      color: #cccccc;
      font-style: italic;
  }
  
  .subscribe {
      width: 150px;
      height: 40px;
      border: none;
      background-color: #95e1d3;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: center;
  }